.navbar {
  background-color: darkslategray;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

pre {
  background-color: lightslategray;
  color: black;
  padding: 10px;
}

.post {
  box-sizing: border-box;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

p code {
  color: indianred;
  background-color: lightyellow;
}